<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>test文件</title>
</head>
<body>
    <h1>node最恶劣的设计,就是node_modules了 - CNode技术社区</h1>
    <p>hackerjs 1楼•3 年前
这个设计是有必要的， 不同的模块依赖的版本可能不相同。

kingapplekingapple 2楼•3 年前 作者
@hackerjs java为何不这么干?应该向java学习的：（

hackerjshackerjs 3楼•3 年前
@kingapple 你说反了，

kingapplekingapple 4楼•3 年前 作者
@hackerjs node同时存在多个副本，也会导致混乱？</P>
</body>
</html>
