
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>清果金服“小存折”APP重磅上线</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="360-site-verification" content="255254462e16f8ff6406e33fefdedf2d"/>
    <meta name="baidu-site-verification" content="pkRWxhLgUB"/>
    <meta name="sogou_site_verification" content="9iTd4ITGAy"/>
    <meta name="msvalidate.01" content="C6D1945250A822BBD5F55F45692F8C44"/>
    <meta name="baidu-site-verification" content="9WSgseMFPW"/>
</head>
<body oncontextmenu="return true;">

    <div>ddd</div> 
</body>
</html>
